# Mengabaikan semua node_modules di folder mana saja
node_modules/
**/node_modules/

# Mengabaikan file env rahasia
backend/.env
frontend/.env

# Mengabaikan folder build hasil compile
frontend/build/
frontend/dist/